<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="css/estilosloginyregistro.css">
    <link rel="shortcut icon" href="img/logoMultimotos.png" type="image/x-icon">

</head>
<body>
  <button class="home-button" onclick="window.location.href = 'index.html'">
    <i class="fas fa-home"></i>
</button>
  <div class="container center">
    <h1>Iniciar Sesión</h1>
    <img src="img/logoMultimotos2.png" alt="Logo de Multimotos">
    <form id="loginForm">
      <div class="txt_field">
        <input type="text" class="form-control" id="emailInput" required>
        <span></span>
        <label for="emailInput">Correo</label>
      </div>
      <div class="txt_field">
        <input type="password" class="form-control" id="passwordInput" required>
        <span></span>
        <label for="contrasenaInput">Contrasena</label>
      </div>
      <input type="submit" value="Iniciar Sesión">
      <div class="forgot-password-link">
        <a href="recuperarcontrasena.html">Olvidé mi contraseña</a>
      </div>
      <div id="errorMessage" class="error-message"></div>
      <div class="signup_link">
        No tienes una cuenta? <a href="registrarvista.html">Registrate</a>
      </div>
    </form>
  </div>
    
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="js/verificartoken.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('loginForm').addEventListener('submit', async (event) => {
        event.preventDefault(); // Evitar el envío del formulario
  
        const email = document.getElementById('emailInput').value; // Obtener el valor del campo de entrada de correo electrónico
        const password = document.getElementById('passwordInput').value;
  
        console.log('Email:', email);
        console.log('Password:', password);
  
        try {
          const response = await fetch('http://localhost:8080/auth/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ correo: email, Contrasena: password }) // Asignar el valor de 'email' a 'Correo'
          });
  
          if (response.ok) {
            const data = await response.json();
            const redirectUrl = data.redirectUrl;
            window.location.href = redirectUrl; // Redireccionar al usuario a la URL correspondiente
  
            const token = data.token;
            // Guardar el token en el localStorage
            localStorage.setItem('token', token);
            const user = data.user;
            const  {_id, Documento, Nombre, Apellidos, Rol}  = user;

            // Guardar los datos del usuario en el localStorage
            localStorage.setItem('userData', JSON.stringify(user));

                  
          } else {
            const errorData = await response.json();
            const errorMessage = errorData.message || 'Error de inicio de sesión desconocido';
            console.error('Error de inicio de sesión:', errorMessage);

            // Mostrar el mensaje de error
            const errorMessageElement = document.getElementById('errorMessage');
            errorMessageElement.textContent = errorMessage;
          }
        } catch (error) {
          console.error('Error de red:', error.message);

        }
      });
    });
</script>


</body>
</html>
