<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tienda virtual de multimotos">
    <meta name="keywords" content="multimotos, MULTIMOTOS, Multimotos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/logoMultimotos.png" type="image/x-icon">
    <title>Multimotos</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/estilos.css" type="text/css">
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="carrito.html"><i class="fa fa-cart-plus" style="font-size: 1.5em;"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search" style="font-size: 1.4em;"></i></a>
            <a href="#" class="primary-btn" style="margin-top: 20px;"><i class="fas fa-user"></i> &nbsp;  Iniciar Sesión</a>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logoMultimotos.png" alt="" width="40px"> <b class="link__logo"> Multimotos</b></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Todos los días de: 08:00 am a 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> multimotos@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+57) 311 379 4682</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Todos los días de: 08:00 am a 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> multimotos@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(+57) 311 379 4682</span>
                            </div>
                            <div class="header__top__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logoMultimotos.png" alt="" width="40px"> <b class="link__logo" style="margin-left: 10px;"> Multimotos</b></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="./index.html">Inicio</a></li>
                                <li class="active"><a href="./productos.html">Productos</a></li>
                                <li><a href="./SobreNosotros.html">Sobre Nosotros</a></li>
                                <li><a href="./contacto.html">Contacto</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__widget">
                            <div class="header__nav__widget__btn">
                                <a href="#" id="cartButton">
                                    <span class="count-products" id="contador-productos">0</span>
                                    <i class="fa fa-cart-plus"></i>
                                </a>
                                <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                            </div>
                            <a href="loginvista.html" id="loginButton" class="primary-btn"><i class="fas fa-user"></i> &nbsp;  Inicia Sesión o Registrate</a>

                            
                            <a href="#" id="logoutButton" class="profile-pic">
                                <img src="./img/perfil.png" alt="user-img" width="36" class="img-circle">
                                <span id="NombreCompleto"></span>
                                <span id="profileDropdownArrow" class="dropdown-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right dropdown-custom" id="profileDropdown">
                                <a href="#" class="dropdown-item">
                                    <!-- Contenido del primer enlace -->
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="MiPerfil.html" class="dropdown-item">
                                    <!-- Icono de Mi Perfil -->
                                    <i class="fas fa-user"></i>
                                    <span class="dropdown-item-title">Mi Perfil</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="historialCompras.html" class="dropdown-item">
                                    <!-- Icono de Mis Pedidos -->
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="dropdown-item-title">Mis Pedidos</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item dropdown-footer" onclick="cerrarSesion()">Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>

    <div id="cartSidebar" class="sidebar">
        <button id="closeCartButton" class="close-cart-button">&times;</button>
        <h2 class="titulo-cart">Carrito de compras</h2>

        <div class="row-product hidden">
            
            <ul id="cartItems"></ul>

            <div class="cart-total">
                
            </div>
            
            <a href="carrito.html" id="checkoutButton" class="primary-btn cart-buttons">Visualizar carrito</a>
            <a href="#" onclick="event.preventDefault();" id="emptyCart" class="primary-btn cart-buttons">Vaciar carrito</a>
        </div>
    </div>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg imagen_inicio" data-setbg="img/cars/moto.jpg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Nuestros productos</h2>
                        <div class="breadcrumb__links">
                            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->
    <div>
        <div style="width: 100px; margin-left: 75%; margin-top: 2%;">
            <select name="" id="">
                <option value="">De mayor a menor</option>
                <option value="">De menor a mayor</option>
            </select>
        </div>
    
    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="car__sidebar">
                        <div class="car__search">
                            <h5>Buscar repuesto</h5>
                          
                            <form  role="search" >
                                <input type="text" placeholder="Buscar" id="search-input-products-client">
                            </form>
                        </div>
                        <div class="car__filter">
                            <h5>Filtrar</h5>
                            <form>
                              <p>Marca</p>
                              <select id="FiltrarMarcaProducto"></select>
                              <p>Categoría</p>
                              <select id="FiltrarCategoriaProducto"></select>
                              <br>
                              <div class="car__filter__btn">
                                <button type="submit" class="site-btn">Filtrar</button>
                              </div>
                            </form>
                          </div>
                         <script>
                            const fetchMarks = () => {
                                return fetch('http://localhost:8080/marks/')
                                .then(response => response.json())
                                .then(data => {
                                    const selectElement = document.getElementById('FiltrarMarcaProducto');
                                    selectElement.innerHTML = '';
                                    if (Array.isArray(data.allMarks)) {
                                    data.allMarks.forEach((mark, index) => {
                                        const option = document.createElement('option');
                                        option.value = mark.NombreMarca;
                                        option.textContent = mark.NombreMarca;
                                        selectElement.appendChild(option);
                                    });
                                    }
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                            };

                            const fetchCategories = () => {
                                return fetch('http://localhost:8080/categories/')
                                .then(response => response.json())
                                .then(data => {
                                    const selectElement = document.getElementById('FiltrarCategoriaProducto');
                                    selectElement.innerHTML = '';
                                    if (Array.isArray(data.allCategories)) {
                                    data.allCategories.forEach((category, index) => {
                                        const option = document.createElement('option');
                                        option.value = category.NombreCategoria;
                                        option.textContent = category.NombreCategoria;
                                        selectElement.appendChild(option);
                                    });
                                    }
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                            };

                            document.addEventListener('DOMContentLoaded', () => {
                                fetchMarks();
                                fetchCategories();
                            });
                        </script>                       
                    </div>
                </div>

                
                <div class="col-lg-9">
                    <div id="cards"  class="card-group">
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                          <!-- Aquí se generarán los botones de paginación -->
                        </ul>
                      </nav>

                    
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- Car Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" style="background: #000;">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>¡Contáctanos ahora!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+57) 311 379 4682</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> multimotos@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/logoMultimotos.png" alt="" width="50px"></a>
                        </div>
                        <p>Contáctanos en caso de dudas, puedes enviar un correo o llamar a nuestro número de teléfono</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>&nbsp;</h5>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Información</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Productos</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sobre nosotros</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Contáctanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Servicentro Multimotos</p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
   


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="js/pages/carrito/carrito.js"></script>
  <script src="https://kit.fontawesome.com/02fc697ff9.js" crossorigin="anonymous"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/pages/productos/Productos.js"></script>

  <script src="js/botonesHeader.js"></script>
  <script src="js/cerrarsesion.js"></script>
  <script src="js/Userdata.js"></script>
  <script src="js/datosUsuario.js"></script>
  <script src="js/ventanaEmergent.js"></script>






</body>

</html>