<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
  <link rel="stylesheet" href="css/resetpassword.css">
</head>
<body>
    <div class="background-image"></div>
    <div class="container">
      <h2>Restablecer Contraseña</h2>
      <p>Ingresa tu nueva contraseña:</p>
      <form id="resetPasswordForm">
        <div class="input-container">
          <label for="inputPassword">Nueva Contraseña:</label>
          <input type="password" id="inputPassword" required>
        </div>
  
        <div class="input-container">
          <label for="confirmPassword">Confirmar Contraseña:</label>
          <input type="password" id="confirmPassword" required>
        </div>
  
        <button type="submit">Restablecer Contraseña</button>
      </form>
      <p id="responseMessage"></p>
    </div>

    
    <script>
        // Función para obtener el token de la URL
        function getTokenFromURL() {
          const url = window.location.href;
          const tokenIndex = url.indexOf('?');
          if (tokenIndex === -1) {
            console.log('Token no encontrado en la URL');
            return null;
          }
          const token = url.substring(tokenIndex + 1);
          console.log('Token:', token);
          return token;
        }
      
        const resetPasswordForm = document.getElementById('resetPasswordForm');
        const responseMessage = document.getElementById('responseMessage');
      
        resetPasswordForm.addEventListener('submit', async (event) => {
          event.preventDefault();
          console.log('Formulario de restablecer contraseña enviado');
      
          const token = getTokenFromURL(); // Obtener el token antes de enviar la solicitud
          console.log('Token utilizado para la solicitud:', token);
      
          const password = document.getElementById('inputPassword').value;
          const confirmPassword = document.getElementById('confirmPassword').value;
      
          // Verificar si las contraseñas coinciden
          if (password !== confirmPassword) {
            responseMessage.textContent = 'Las contraseñas no coinciden. Por favor, intenta nuevamente.';
            responseMessage.style.color = 'red';
            return; // Detener el flujo de la función si las contraseñas no coinciden
          }
      
          try {
            const response = await fetch(`/reset-password/${token}`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ password })
            });
      
            const data = await response.json();
            responseMessage.textContent = data.message;
            if (data.success) {
              responseMessage.style.color = 'green';
              // Redireccionar al usuario al inicio de sesión (loginvista.html) después de 2 segundos
              setTimeout(() => {
                window.location.href = 'loginvista.html';
                window.history.pushState({}, '', 'login.html');
              }, 2000); 
            } else {
              responseMessage.style.color = 'red';
            }
          } catch (error) {
            responseMessage.textContent = 'Ocurrió un error al enviar la solicitud. Inténtalo de nuevo más tarde.';
            responseMessage.style.color = 'red';
          }
        });
      </script>
      
  

</body>
</html>
