.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  transition: right 0.3s ease;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
  
.sidebar.show {
  right: 0;
}

.titulo-cart {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.close-cart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-cart-button:hover {
  color: red;
}

.count-products {
  font-size: 15px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 15px;
  margin: auto;
}

.precio-producto-carrito {
  font-size: 15px;
  margin: auto;
  color: #4f4f4f;
}

.cantidad-producto-carrito {
  font-size: 15px;
  margin: auto;
  margin-left: 15px;
  color: #4f4f4f;
}

.icon-trash {
  width: 25px;
  height: 25px;
}

.icon-trash:hover {
  color: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.cart-buttons {
  height: 50px;
  border: none;
  color: #fff;
}

.cart-buttons:hover {
  background-color: #e35d5d;
  transition: all 0.3s ease;
}

.cart-quantity-input {
  width: 60px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-increase-decrease {
  background-color: #db2d2e;
  border: none;
  color: #fff;
}

.cart-increase-decrease:hover {
  background-color: #e35d5d;
  transition: all 0.3s ease;
}

.cart-empty-page {
  font-size: 17px;
  font-weight: bold;
}

.productos-titulo {
  font-size: 18px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.precioDebajo {
  font-size: 15px;
  font-weight: bold;
}

.not-active { 
  pointer-events: none; 
  cursor: default; 
} 

a.profile-pic {

  color: inherit;
}

.estado-etiqueta {
  padding: 1px 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;

  vertical-align: middle;
  max-width: 100px; /* Ajusta este valor según sea necesario */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.estado-etiqueta[estado="En camino"] {
    background-color: #ffc107;
    color: #fff;
    border: none;
}

.estado-etiqueta[estado="Entregado"] {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.estado-etiqueta[estado="Por enviar"] {
    background-color: #f62d51;
    color: #fff;
    border: none;
}

.estado-etiqueta[estado="Devolución"] {
  background-color: #b02df6;
  color: #fff;
  border: none
}

.btn-custom-action {
  width: 200px;
  font-size: 14px;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
}

.btn-custom-action:hover {
  background-color: #b62741;
  color: #fff;
}

.venta-info {
  margin-bottom: 20px;
}

.venta-info p {
  margin: 5px 0;
}

.total {
  text-align: right;
  margin-top: 20px;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease;
}

.direccion-number {
  text-align: center;
}

.direccion-number::placeholder {
  color: #aaa;
}

.input-pedido::placeholder {
  color: #aaa;
}
