* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulos {
  color: #DB2D2E;
  font-weight: 600;
}

.linkMiniMenu {
  text-decoration: none;
  color: #000;
}

.linkMiniMenu:hover {
  color: #DB2D2E;
}

.botonEditar {
  color: #DB2D2E!important;
  /* transition: .3s; */
}