body, input {
  font-family: "Lato", sans-serif;
}
  

  
  .container {
    max-width: 600px;
    padding: 20px;
    margin-top: 20%;
    text-align: center;
  }
  
  h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #444444ee;
    margin-bottom: 10px;
  }
  

  .input-container {
    max-width: 600px;
    width: 100%;
    height: 60px;
    margin: 14px 0;
    display: grid;
    grid-template-columns: 7% 85%;
    padding-bottom: 20px;
  }
  
  input[type="password"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #aaaaaa;
    font-size: 1.3rem;
    color: #333;
    background: none;
    outline: none;
  }

  .input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  
  button[type="submit"] {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #DB2D2E;
    color: #fff;
    font-weight: 600;
    margin: 10px ;
  }
  
  button[type="submit"]:hover {
    background-color: #822525;
    color: #ffffff;
  }
  

  .container-password {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
  }
  
  .container-password:before {
    content: '';
    position:absolute;
    width: 2300px;
    height: 1500px;
    border-radius: 50%;
    background-color: #DB2D2E;
    top: -15%;
    left: 50%; /* Cambiado de 'right' a 'left' */
    transform: translateX(-50%) translateY(-73%); /* Añadida la transformación en X */
    z-index: 6;
  }


  @media (max-width: 870px) {
    .container-password {
      min-height: 800px;
      height: 100vh;
    }
    
    .container {
      padding-top: 250px;
    }
  }
  
  @media (max-width: 570px) {
    .container-password {
      min-height: 600px;
      height: 100vh;
    }
    
    .container { 
      padding-top: 300px;
    }
  }
  
  @media (min-width: 871px) and (max-width: 1800px) {
    .container {
      padding-top: 130px;
    }
  
    .container-password:before {
      top: -20%; 
      min-height: 1000px;
      height: 200vh;
    }
  }
  