<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Multimotos</title>
        <link rel="shortcut icon" href="./assets/static/images/logo/logoMultimotos.png" type="image/x-icon" />
        <link rel="stylesheet" href="assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css"/>
        <link rel="stylesheet" href="./assets/compiled/css/table-datatable-jquery.css"/>
        <link rel="stylesheet" href="./assets/compiled/css/app.css" />
        <link rel="stylesheet" href="./assets/compiled/css/app-dark.css" />
        <link rel="stylesheet" href="./assets/compiled/css/iconly.css" />
    </head>

    <body>
        <script src="assets/static/js/initTheme.js"></script>

<!-- Logo y modo oscuro-->
        <div id="app">
            <div id="sidebar">
                <div class="sidebar-wrapper active">
                    <div class="sidebar-header position-relative">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="logo">
                                <a href="index.html" style="font-size: 25px;"> Multimotos</a>
                            </div>
                            <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" 
                                class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                                    <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55
                                        5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path>
                                        <g transform="translate(-210 -1)">
                                            <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                                            <circle cx="220.5" cy="11.5" r="4"></circle>
                                            <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                                        </g>
                                    </g>
                                </svg>
                                <div class="form-check form-switch fs-6">
                                    <input class="form-check-input me-0" type="checkbox" id="toggle-dark" style="cursor: pointer"/>
                                    <label class="form-check-label"></label>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
                                width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 
                                    4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28
                                    4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53
                                    1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81
                                    3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path>
                                </svg>
                            </div>
                            <div class="sidebar-toggler x">
                                <a href="#" class="sidebar-hide d-xl-none d-block">
                                    <i class="bi bi-x bi-middle"></i>
                                </a>
                            </div>
                        </div>
                    </div>

<!--Menu-->
                    <div class="sidebar-menu">
                        <ul class="menu">
                            <li class="sidebar-title">Menu</li>

                            <li class="sidebar-item">
                                <a href="index.html" class="sidebar-link">
                                    <i class="bi bi-grid-fill"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>

                            <li class="sidebar-item ">
                                <a href="Roles.html" class="sidebar-link">
                                    <i class="bi bi-people-fill"></i>
                                    <span>Roles</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="usuarios.html" class="sidebar-link">
                                    <i class="bi bi-person-fill"></i>
                                    <span>Usuarios</span>
                                </a>
                            </li>

                            <li class="sidebar-item active">
                                <a href="productos.html" class="sidebar-link">
                                    <i class="bi bi-bag-fill"></i>
                                    <span>Productos</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="categorias.html" class="sidebar-link">
                                    <i class="bi bi-tags-fill"></i>
                                    <span>Categorías</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="Marcas.html" class="sidebar-link">
                                    <i class="bi bi-collection-fill"></i>
                                    <span>Marcas</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="Ventas.html" class="sidebar-link">
                                    <i class="bi bi-credit-card-fill"></i>
                                    <span>Ventas</span>
                                </a>
                            </li>

                            <li class="text-center p-20 upgrade-btn sidebar-item">
                                <a href="#" onclick="cerrarSesion()" class="btn d-grid btn-danger text-white" target="_blank">Cerrar sesión</a>
                            </li>
                        </ul>

                        <div class="col-12 col-lg-3">
                            <div class="card">
                                <div class="card-body py-4 px-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-xl">
                                            <img src="./assets/compiled/jpg/1.jpg" alt="Face 1" />
                                        </div>
                                        <div class="ms-3 name">
                                            <h5 class="font-bold" id="nombreUsuario"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <section class="section">
                <div class="card">
                    <div class="card-header"> <h5>Administrar productos</h5>
                        <button type="button" class="btn btn-danger d-md-block ms-auto waves-effect waves-light text-white" style="width: 100px;" data-bs-toggle="modal"
                        data-bs-target="#AgregarProducto">Agregar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="ProductsTable">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">Producto</th>
                                        <th class="border-top-0">Categoria</th>
                                        <th class="border-top-0">Marca</th>
                                        <th class="border-top-0">Precio</th>
                                        <th class="border-top-0">Estado</th>
                                        <th class="border-top-0">Imagenes</th>
                                        <th class="border-top-0" style="text-align: center;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                               
  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="modal fade" id="AgregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" novalidate>
                            <label for="AddNombreProducto">Producto</label>
                            <input type="text" id="AddNombreProducto" class="form-control" style=" border-radius: 5px; border-color: rgb(187, 187, 187);" required>
                            <br>
                            <label for="AddDescripcionProducto">Descripción</label>
                            <textarea id="AddDescripcionProducto" cols="30" rows="5" class="form-control" style=" border-radius: 5px;  border-color: rgb(187, 187, 187);"
                            required></textarea>
                            <br>
                            <br>
                            <div style="display:flex ;">
                                <label for="AddMarcaProducto" style="padding-left: 10px;">Marca</label>
                                <label for="AddCategoriaProducto" style="padding-left: 178px;">Categoría</label>
                            </div>
                            <div style="display:flex ;" id="select">
                                <select id="AddMarcaProducto" class="form-control" style="width:200px ;  border-radius: 5px;  border-color: rgb(187, 187, 187);">
                                   <script>
                                    fetch('http://localhost:8080/marks/')
                                    .then(response => response.json())
                                    .then(data => {
                                        const selectElement = document.getElementById('AddMarcaProducto');
                                        selectElement.innerHTML = '';
                                        if (Array.isArray(data.allMarks)) {
                                            data.allMarks.forEach((mark, index) => {
                                                const option = document.createElement('option');
                                                option.value = mark.NombreMarca;
                                                option.textContent = mark.NombreMarca;
                                                selectElement.appendChild(option);
                                            });
                                        }
                                    })
                                    .catch(error => {
                                        console.error(error);
                                    });
                                   </script>
                                </select>
                                <select id="AddCategoriaProducto" class="form-control" style="width: 200px; border-radius: 5px; margin-left: 20px;  border-color: rgb(187, 187, 187);">
                                    <script>
                                            fetch('http://localhost:8080/categories/')
                                            .then(response => response.json())
                                            .then(data => {
                                                const selectElement = document.getElementById('AddCategoriaProducto');
                                                selectElement.innerHTML = '';
                                                if (Array.isArray(data.allCategories)) {
                                                    data.allCategories.forEach((category,index) => {
                                                        const option = document.createElement('option');
                                                        option.value = category.NombreCategoria;
                                                        option.textContent = category.NombreCategoria;
                                                        selectElement.appendChild(option);
                                                    });
                                                }
                                            })
                                            .catch(error => {
                                                console.error(error);
                                            });
                                    </script>
                                </select>
                            </div>
                            <br>
                            <div style=" display: flex;">
                                <label for="AddPrecioProducto"style="padding-left: 10px;">Precio</label>
                                <label for="AddCantidadProducto"style="padding-left: 178px;">Cantidad </label>
                            </div>
                            <div style="display:flex ; ">
                                <input type="number" id="AddPrecioProducto" class="form-control"style="width:200px ; border-radius: 5px;  border-color: rgb(187, 187, 187); " required>
                                <input type="number" id="AddCantidadProducto" class="form-control"style="width:200px ; border-radius: 5px; margin-left: 20px;  border-color: rgb(187, 187, 187);" required>
                            </div>
                            <br>
                            <br>
                            <label for="formFileAdd" class="form-label">Imagen</label>
                            <div class="mb-3">
                                <input class="form-control " type="file" id="formFileAdd" accept=".png, .jpg, .jpeg" style=" border-color: rgb(187, 187, 187);" multiple required>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: #ffff;">Cancelar</button>
                                <button type="button" class="btn btn-danger" id="BtnConfirmarAdd" style="color: #ffff">Confirmar</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="EditarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" novalidate>
                            <input type="hidden" id="IdEditarProducto">
                            <label for="EditNombreProducto" style="text-align: left;">Producto</label>
                            <input type="text" id="EditNombreProducto" class="form-control" style=" border-radius: 5px; border-color: rgb(187, 187, 187)" required>
                            <br>
                            <label for="EditDescripcionProducto" style="text-align: left;">Descripción</label>
                            <input type="text" id="EditDescripcionProducto" class="form-control" style=" border-radius: 5px; border-color: rgb(187, 187, 187)" required>
                            <br>
                            <br>
                            <div style="display:flex ;">
                                <label for="EditMarcaProducto" style="padding-left: 5px;">Marca</label>
                                <label for="EditCategoriaProducto" style="padding-left: 72px;">Categoría</label>
                                <label for="EditPrecioProducto" style="padding-left: 86px;">Precio</label>
                            </div>
                            <div style="display:flex ;">
                                <select name="" id="EditMarcaProducto" class="form-control" style="width:100px ;  border-radius: 5px; border-color: rgb(187, 187, 187)">
                                    <script>
                                        const getMarcasEdit = () => {
                                            fetch('http://localhost:8080/marks/')
                                                .then(response => response.json())
                                                .then(data => {
                                                    const selectElement = document.getElementById('EditMarcaProducto');
                                                    selectElement.innerHTML = '';
                                                    if (Array.isArray(data.allMarks)) {
                                                        data.allMarks.forEach((mark,index) => {
                                                                const option = document.createElement('option');
                                                                option.value = mark.NombreMarca;
                                                                option.textContent = mark.NombreMarca;
                                                                selectElement.appendChild(option);
                                                            });
                                                    }
                                                })
                                                .catch(error => {
                                                    console.error(error);
                                                });
                                        }
                                        getMarcasEdit()
                                    </script>
                                </select>
                                &nbsp;&nbsp;
                                <select name="" id="EditCategoriaProducto" class="form-control" style="width:140px ;  border-radius: 5px; border-color: rgb(187, 187, 187)">
                                    <script>
                                        const getCategoriasEdit = () => {
                                            fetch('http://localhost:8080/categories/')
                                                .then(response => response.json())
                                                .then(data => {
                                                    const selectElement = document.getElementById('EditCategoriaProducto');
                                                    selectElement.innerHTML = '';
                                                    if (Array.isArray(data.allCategories)) {
                                                        data.allCategories.forEach((category,index) => {
                                                                const option = document.createElement('option');
                                                                option.value = category.NombreCategoria;
                                                                option.textContent = category.NombreCategoria;
                                                                selectElement.appendChild(option);
                                                            });
                                                    }
                                                })
                                                .catch(error => {
                                                    console.error(error);
                                                });
                                        }
                                        getCategoriasEdit()
                                    </script>
                                </select>
                                &nbsp;&nbsp;
                                <input type="number" id="EditPrecioProducto" class="form-control" style="width:25% ; border-radius: 5px; border-color: rgb(187, 187, 187); "required>
                            </div>
                            <br>
                            <br>
                            <label  for="EditformFile" class="form-label" style="text-align: left;">Imagen</label>
                            <div class="mb-3">
                                <input class="form-control " type="file" id="EditformFile" accept=".png, .jpg, .jpeg" style=" border-color: rgb(187, 187, 187)" multiple required>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: #ffff;">Cancelar</button>
                                <button type="submit" class="btn btn-danger " id="BtnConfirmarEdit" style="color: #ffff">Confirmar</button> 
                            </div>
                        </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="VerImagenes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Imágenes del Producto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators" id="carouselIndicators">
                      <!-- Los botones de indicadores se generarán automáticamente en JavaScript -->
                    </div>
                    <div class="carousel-inner" id="imagenCarrusel">
                      <!-- Las imágenes se agregarán dinámicamente en JavaScript -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          
          



        <div class="modal fade" id="EliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> Eliminar producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <br>
                        <input type="hidden" id="IdEliminarProducto"> ¿Estás seguro de que deseas eliminar este producto?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: #ffff;">Cancelar</button>
                        <button type="button" class="btn" id="BtnConfirmarDelete"style="background-color: #f62d51;  color: #ffff;">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="AumentarStock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Aumentar stock</h1>
                        <button type="button" class="btn-close"data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" novalidate>
                            <input type="hidden" id="IdAumentarStock">
                            <label for="" style="text-align: left;">Cantidad</label>
                            <input type="text" class="form-control" id="InputAumentarStock" style=" border-radius: 5px; width: 200px; border-color: rgb(187, 187, 187)" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: #ffff;">Cancelar</button>
                        <button type="subm it" class="btn" id="BtnConfirmaEditStock" style="background-color: #f62d51;  color: #ffff;">Guardar</button>
                    </div>
                        </form>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2023 &copy; Servicentro Multimotos</p>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="assets/static/js/components/dark.js"></script>
        <script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="assets/compiled/js/app.js"></script>
        <script src="assets/extensions/jquery/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
        <script src="assets/static/js/pages/datatables.js"></script>

        <!-- Dashboard -->
        <script src="js/cerrarsesion.js"></script>
        <script src="../../routes/auth.js"></script>
        <script src="js/datosUsuario.js"></script>
        <script src="js/botonesAside.js"></script>
        <script src="js/pages/Productos.js"></script>
        <script>
            const token = localStorage.getItem('token');
            
            if (!token) {
                console.log('No se encontró ningún token en el localStorage');
                window.location.href = '../index.html';
            } else {
                console.log('El token se ha guardado correctamente en el localStorage:', token);
                console.log(permisoDashboard)
                // Realizar una solicitud al servidor para verificar la autenticación y los permisos del usuario
                if(!permisoDashboard) {
                    console.log('No tienes permisos para acceder a este módulo');
                    window.location.href = '../index.html';
                }
            }
            $(document).ready(()=>{
                    listProducts();
                })
        </script>
    </body>
</html>